<% -include('../partials/head.ejs') %>
<style>
    *{
        font-family: Arial, Helvetica, sans-serif;
        padding-block: 0;
    }
    body{
        background-color: rgb(207, 205, 205);
        padding-inline: 10%;
    }
    nav a{
        font-weight: bold;
        color: rgb(62, 54, 54);
    
    }
    .blogs a{
        text-decoration: none;
        font-weight: normal;
        color: black;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-bottom: solid gray 2px;
        padding-block: 0;
        margin-block-end: 2rem;
    }
    *:focus{
        outline: dotted 2px green;
    }
    button{
        background-color: red;
        color: white;
        font: bold; 
        font-size: 1.5rem;
        border: none;
        padding-inline: 1rem;
        padding-block: .5rem;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    
</style>
<body>
    <%-include('../partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id%>">
            <button>Delete</button>
        </a>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        const trashcan = document.querySelector('a.delete')
        trashcan.addEventListener('click', (event) =>{
            const endpoint = `/blogs/${trashcan.dataset.doc}`
            fetch(endpoint,
                {
                    method: 'DELETE', 
                    headers: {'Content-Type': 'application/json'},
                    body: null
                }
            )
            .then((response)=>response.json())
            .then((data) => window.location.href = data.redirect)
            .catch((error)=> console.error(error))
        }) 
    </script>
</body>
</html>